h1{
    color: rgb(252, 194, 190);
}
.paraf{
    color: rgb(167, 214, 252);
}
form {
    color: rgb(177, 219, 255);
    text-align: center;
}

h1 {
    color: rgb(252, 193, 237);
    text-align: center;
}